/*\\\\\\\\\\\\\\\\
\\\\\\ Шрифты \\\\\
\\\\\\\\\\\\\\\\\*/

/* Inter 400/700/900 */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

/*\\\\\\\\\\\\\\\
\\\ Глобальные \\\
\\\\\\\\\\\\\\\\*/
:root {
  --main-bg: #feafc3;
  --special-bg: #ff7799;
  --button-bg: #ff2f64;
  --bright-bg: #fcfcfc;
  --neutral-bg: #b9b9b9;
  --bright-bg-transp: rgba(252, 252, 252, 0.3);
  --main-txt: #2d3440;
  --neutral-txt: #565c66;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1366px;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--main-txt);
  background-color: var(--main-bg);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.main-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.lead {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: block;
  width: fit-content;
  padding: 12px 32px;
  color: var(--main-txt);
  background: none;
  background-color: var(--bright-bg);
  background-clip: padding-box;
  border: 4px solid rgba(252, 252, 252, 0.4);
  border-radius: 30px;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  cursor: pointer;
}

.button:hover {
  background-color: var(--bright-bg-transp);
  border-color: var(--bright-bg);
  box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
}

.button--inverted {
  color: var(--bright-bg);
  background-color: var(--button-bg);
  border-color: rgba(255, 47, 100, 0.3);
}

.button--inverted:hover {
  color: var(--main-txt);
  background-color: var(--bright-bg);
  border-color: var(--button-bg);
  box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
}

.button:active {
  transform: translateY(2px);
  opacity: 0.7;
}

.page__main {
  flex-grow: 1;
}

/*\\\\\\\\\\\\\\\\
\\\\\ Обертки \\\\\
\\\\\\\\\\\\\\\\\*/
.page__centerer {
  width: 1170px;
  margin: 0 auto;
}

.page__centerer--double {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}

/*\\\\\\\\\\\\\\\\
\\\ Шапка сайта \\\
\\\\\\\\\\\\\\\\\*/
.header {
  display: flex;
  align-items: center;
  min-height: 104px;
}

.logo-link__image {
  display: block;
}

.header__navigation {
  margin-left: 16px;
}

.site-navigation__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-navigation__link {
  min-width: 36px;
  min-height: 36px;
  padding: 8px 16px;
  line-height: 20px;
  border-radius: 18px;
}

.site-navigation__link--current {
  color: var(--bright-bg);
  background-color: #ff4a78;
}

.site-navigation__dropdown {
  margin: 0;
}

.dropdown {
  display: none;
  padding: 16px;
  font-size: 14px;
  line-height: 20px;
  background-color: var(--bright-bg);
  list-style-type: none;
}

.dropdown--visible {
  display: block;
}

.dropdown__item--special {
  border-bottom: 1px solid #b9b9b9;
}

.dropdown__link {
  font-size: 14px;
  line-height: 20px;
}

.header__phone {
  margin-left: auto;
  font-weight: 700;
  line-height: 20px;
}

.header__user-menu {
  margin: 0;
  margin-left: 18px;
}

.user-menu {
  display: flex;
  column-gap: 16px;
  padding: 0;
  list-style-type: none;
}

.user-menu__link {
  display: flex;
  align-items: center;
  column-gap: 6px;
  min-width: 32px;
  min-height: 32px;
  padding: 6px 16px;
  font-size: 14px;
  line-height: 20px;
  background-color: var(--bright-bg-transp);
  border-radius: 16px;
}

.user-menu__link::before {
  content: "";
  height: 18px;
  width: 18px;
}

.user-menu__link--search {
  padding: 6px;
}

.user-menu__link--search::before {
  background: no-repeat url("../images/icons/search.svg") center / 15px;
}

.user-menu__link--login::before {
  background: no-repeat url("../images/icons/log-in.svg") center / 15px;
}

.user-menu__link--cart::before {
  background: no-repeat url("../images/icons/cart.svg") center / 15px;
}

/*\\\\\\\\\\\\\\\\
\\\\\ Главная \\\\\
\\\\\\\\\\\\\\\\\*/

/* Слайдер */
.main__slider {
  margin-bottom: 80px;
}

.slider {
  position: relative;
}

.slider__buttons {
  position: absolute;
  transform: translateY(-50%);
  left: 542px;
  top: 50%;
}

.slider-controls {
  display: flex;
  column-gap: 274px;
}

.slider-controls__button {
  width: 38px;
  height: 38px;
  background: var(--bright-bg-transp) no-repeat url("../images/icons/arrow-head-white.svg") 15px center / 7px 11px;
  border: 2px solid var(--bright-bg);
  border-radius: 20px;
  cursor: pointer;
}

.slider-controls__button--previous {
  transform: rotate(180deg);
}

.slider__pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
}

.dot-pagination {
  display: flex;
  column-gap: 8px;
  padding: 0;
  list-style-type: none;
}

.dot-pagination__button {
  width: 12px;
  height: 12px;
  background-color: var(--bright-bg-transp);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.dot-pagination__button--current {
  background-color: var(--bright-bg);
}

.slider__social {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider__item {
  display: none;
}

.slider__item--current {
  display: block;
}

.slide {
  padding-left: 70px;
}

.slide__grid {
  display: grid;
  align-items: start;
  grid-template-columns: 491px 312px;
  grid-template-rows: minmax(228px, auto) minmax(140px, auto) minmax(186px, auto);
  grid-template-areas:
    "slogan image"
    "info image"
    "button image";
}

.slide__wrapper {
  position: relative;
  grid-area: image;
  align-self: center;
}

.slide__wrapper::before {
  content: "";
  z-index: -1;
  position: absolute;
  transform: translateY(-50%);
  width: 312px;
  height: 312px;
  top: 50%;
  left: 0;
  background-color: rgba(252, 252, 252, 0.35);
  border-radius: 160px;
}

.slide__image {
  max-width: 100%;
  height: auto;
}

.slide__slogan {
  grid-area: slogan;
  align-self: end;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.slide__info {
  grid-area: info;
  margin: 0;
  margin-top: 24px;
  margin-right: 88px;
  font-size: 18px;
  line-height: 24px;
}

.slide__button {
  grid-area: button;
}

/* Специальные предложения */
.main__deals {
  margin-bottom: 80px;
}

.deals__lead {
  display: block;
  text-align: center;
  margin-bottom: 56px;
}

.deals__list {
  display: flex;
  column-gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.deal {
  padding: 40px 40px 38px 40px;
  background-color: var(--special-bg);
  background-repeat: no-repeat;
  border-radius: 16px;
}

.deal[data-deal-number="01"] {
  background-image: url("../images/bgrounds/deal-bg-01.png");
  background-size: 181px 284px;
  background-position: 380px 30px;
}

.deal[data-deal-number="02"] {
  background-image: url("../images/bgrounds/deal-bg-02.png");
  background-size: 232px 359px;
  background-position: 335px 30px;
}

.deal__title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 30px;
}

.deal__description {
  margin: 0;
  margin-bottom: 30px;
  padding-right: 180px;
}

/* Популярные вкусы */
.main__popular {
  margin-bottom: 80px;
}

.popular__lead {
  display: block;
  text-align: center;
  margin-bottom: 107px;
}

.popular__list {
  display: flex;
  column-gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Преимущества */
.main__about {
  margin-bottom: 80px;
}

.about {
  position: relative;
  background: repeat url("../images/bgrounds/wafer-ptrn.jpg") 10px 2px / 108px 106px;
  border-radius: 16px;
  padding: 24px;
}

.about__content {
  padding: 56px 40px;
  background-color: var(--bright-bg);
  border-radius: 16px;
}

.about__lead {
  display: block;
  text-align: center;
  margin-bottom: 56px;
}

.about__advantages {
  margin: 0;
}

.advantages {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 31px;
  row-gap: 40px;
  padding: 0;
  list-style-type: none;
}

.advantages__item {
  display: flex;
  column-gap: 16px;
}

.advantages__item::before {
  content: "";
  flex-shrink: 0;
  display: block;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid var(--main-txt);
  border-radius: 24px;
}

.advantages__item--tech::before {
  background-image: url("../images/icons/ice-cream.svg");
  background-size: 32px;
}

.advantages__item--supply::before {
  background-image: url("../images/icons/cow.svg");
  background-size: 32px;
}

.advantages__item--ingredient::before {
  background-image: url("../images/icons/leaf.svg");
  background-size: 32px;
}

.advantages__item--transport::before {
  background-image: url("../images/icons/thermometer.svg");
  background-size: 32px;
}

.advantages__info {
  margin: 0;
}

/* Ссылка на статью */
.main__article {
  margin-bottom: 76px;
}

.article {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 570px;
  height: 220px;
  padding: 32px;
  border-radius: 16px;
  background: #ffffff no-repeat url("../images/bgrounds/article-bg-001.jpg") center / 570px 220px;
}

.article__title {
  margin: 0;
  padding-right: 203px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.article__new {
  margin: 0;
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 20px;
}

.article__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* Форма подписки */
.main__subscribtion {
  margin-bottom: 76px;
}

.subscription {
  position: relative;
  width: 570px;
  height: 220px;
  padding: 6px;
  border-radius: 16px;
  overflow: hidden;
}

.subscription::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: -90%;
  left: 8%;
  width: 100%;
  height: 300%;
  background-image: linear-gradient(
    #ff2f64 9px,
    #edf1f5 9px 22px,
    #69a9ff 22px 31px,
    #edf1f5 31px 44px);
  background-repeat: repeat;
  background-size: 100% 44px;
  transform: rotate(-49.5deg);
}

.subscription__content {
  background-color: var(--bright-bg);
  height: 100%;
  padding: 26px;
  border-radius: 16px;
}

.subscription__info {
  margin: 0;
  margin-bottom: 42px;
}

.subscription__form {
  display: flex;
  min-height: 48px;
}

.subscription__input {
  flex-grow: 1;
  min-height: 48px;
  margin-right: 22px;
  padding: 14px 16px;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-txt);
  background-color: #ffffff;
  border: 1px solid var(--neutral-bg);
  border-radius: 4px;
}

.subscription__input::placeholder {
  color: var(--neutral-bg);
}

/* Форма доставки */
.main__delivery {
  margin-bottom: 80px;
}

.delivery {
  display: grid;
  grid-template-columns: 375px 500px;
  grid-template-rows: 195px 211px;
  grid-template-areas:
    "title form"
    "info form";
  column-gap: 131px;
  width: 1170px;
  min-height: 534px;
  padding: 64px 64px 64px 100px;
  background: no-repeat url("../images/bgrounds/delivery-bg.jpg") center / 1170px 534px;
  border-radius: 16px;
}

.delivery__title {
  grid-area: title;
  align-self: end;
  margin: 0;
  text-align: left;
}

.delivery__info {
  grid-area: info;
  margin: 0;
  padding-top: 24px;
}

.delivery__form {
  grid-area: form;
}

.delivery-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: var(--bright-bg);
  border-radius: 8px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
}

.delivery-form__info {
  margin: 0;
  margin-bottom: 32px;
  color: var(--neutral-txt);
}

.delivery-form__inputs {
  display: grid;
  grid-template-columns: 127px 277px;
  grid-template-rows: repeat(auto-fit, 76px);
  column-gap: 16px;
  row-gap: 20px;
  margin: 0;
  margin-bottom: 30px;
}

.delivery-form__label {
  display: flex;
  flex-direction: column;
}

.delivery-form__label span {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.delivery-form__input {
  height: 48px;
  padding: 14px 16px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-txt);
  border: 1px solid var(--neutral-bg);
  border-radius: 4px;
}

.delivery-form__input::placeholder {
  font: inherit;
  color: var(--neutral-bg);
}

.delivery-form__input::-webkit-datetime-edit {
  font: inherit;
  letter-spacing: 0.02em;
}

.delivery-form__input::-webkit-calendar-picker-indicator {
  display: none;
}

.delivery-form__label--address {
  grid-column: span 2;
}

.delivery-form__button {
  flex-shrink: 0;
}

/* Форма обратной связи */
.feedback {
  width: 1170px;
  height: 492px;
  padding: 64px;
  background: no-repeat url("../images/bgrounds/feedback-bg.jpg") center / 1170px 492px;
  border-radius: 16px;
}

.feedback__content {
  width: 343px;
  padding: 40px 40px 40px 40px;
  background-color: var(--bright-bg);
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
}

.contacts {
  font-style: normal;
}

.contacts__group {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.contacts__group + .contacts__group {
  margin-top: 24px;
  margin-bottom: 30px;
}

.contacts__address,
.contacts__phone {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.contacts__info {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.contacts__misc {
  font-size: 14px;
  line-height: 20px;
}

/*\\\\\\\\\\\\\\\\
\\\\ Внутренняя \\\
\\\\\\\\\\\\\\\\\*/
.inner-header {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  margin-bottom: 40px;
}

.inner-header__title {
  margin: 0;
}

.inner-header__breadcrumbs {
  order: -1;
  margin: 0;
  margin-bottom: 17px;
}

.breadcrumbs {
  display: flex;
  column-gap: 26px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs__link {
  padding: 1px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.breadcrumbs__item {
  position: relative;
}

.breadcrumbs__item + .breadcrumbs__item::before {
  position: absolute;
  content: "";
  top: 6px;
  left: -19px;
  width: 12px;
  height: 12px;
  background: no-repeat url("../images/icons/chevron.svg") center / 12px;
}

.breadcrumbs__link:not([aria-current="page"]) {
  border-bottom: 1px solid var(--main-txt);
}

.product {
  position: relative;
  width: 270px;
  padding: 133px 40px 28px 40px;
  color: var(--main-txt);
  background-color: var(--bright-bg);
  border-radius: 8px;
}

.product__image {
  position: absolute;
  transform: translateX(-50%);
  top: -51px;
  left: 50%;
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 100px;
  filter: drop-shadow(0 4px 12px rgba(45, 52, 64, 0.1));
  overflow: hidden;
}

.product__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.product__description {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

.product__price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.product__link {
  position: absolute;
  bottom: 24px;
  right: 40px;
  display: block;
  width: 32px;
  height: 32px;
  background: var(--button-bg) no-repeat url("../images/icons/cart-white.svg") center / 15px;
  background-position: center;
  border-radius: 30px;
}

.product__link::before {
  z-index: 1;
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  top: -9px;
  left: -9px;
  border-radius: 25px;
}

.product__link:hover {
  background-color: var(--bright-bg);
  background-image: url("../images/icons/cart.svg");
  border: 2px solid var(--button-bg);
}

/*\\\\\\\\\\\\\\\\
\\\ Футер сайта \\\
\\\\\\\\\\\\\\\\\*/
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 100px;
  padding-top: 46px;
  padding-bottom: 48px;
}

.footer__social {
  margin: 0;
}

.social-links {
  display: flex;
  column-gap: 12px;
  padding: 0;
  list-style-type: none;
}

.social-links__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background-color: var(--bright-bg);
  background-clip: padding-box;
  border: 2px solid rgba(252, 252, 252, 0.2);
  border-radius: 20px;
}

.social-links__icon {
  fill: var(--main-bg);
}

.social-links__link:hover .social-links__icon {
  fill: var(--main-txt);
}

.footer__menu {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(auto-fit, auto);
  column-gap: 24px;
  row-gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__menu-link {
  font-size: 14px;
  line-height: 20px;
}

.footer__menu-link--special {
  position: relative;
  font-weight: 700;
}

.footer__menu-link--special::before {
  content: "";
  position: absolute;
  top: 0;
  left: -24px;
  width: 20px;
  height: 20px;
  background: no-repeat url("../images/icons/heart-fill.svg") center / 16px;
}

.footer__devs {
  flex-shrink: 0;
}

.devs-link {
  font-size: 12px;
  line-height: 16px;
}

.devs-link span {
  text-decoration: underline;
}
